@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Plant Exception Rules</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrapValidator.min.css" rel="stylesheet" />
</head>
@*<body>   
    <div class="container">
        <div class="row" style="margin-top:20px">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <fieldset> 
                    @using (Html.BeginForm("Upload", "Exception", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" value="Upload" class="btn btn-success" id="btUpload" name="btUpload"><i class="fa fa-upload" aria-hidden="true"></i>Upload</button>
                                </div>
                            </div>                     
                    }
                </fieldset>
            </div>
        </div>
    </div>
</body>*@
</html>

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootbox.min.js"></script>
@*<script src="~/Scripts/rnd.scripts.js"></script>
    <script src="~/Scripts/rnd.login.js"></script>*@
<script src="~/Scripts/bootstrapValidator.min.js"></script>
<script src="~/Scripts/Utilities.js"></script>


